*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    padding: 1em;
    font-family: Outfit;
    background-color: hsl(212, 45%, 89%);
}

img{
    max-width: 100%;
    border-radius: 0.5em;
}

.container{
    max-width: 340px;
    margin: 200px auto;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 10px 1px hsl(220, 15%, 55%);
}

.title{
    color: hsl(218, 44%, 22%);
}

.paragraph{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

@media (max-width: 480px) {
    .container{
        margin: 50px auto;
    }
}